*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
  overflow-x: hidden;
  background-color: #1d1d1d;
}

.hbo-logo{
  width: 100px;
}

.link-style{
  text-decoration: none;
}