.homeWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  background: #111113;
}

.subtitle{
  font-size: 1.3rem;
  font-weight: 400;
  font-family: 'Cinzel Decorative', cursive;
}

.mainContent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  /* position: relative; */

  z-index: 1;
}

.socialLinks{
  position: absolute;
  bottom: 13%;

  z-index: 0;
  /* padding-top: 133px; */
}

.sloganText{
  width: 303px;
  text-align: center;
  color: #FFF;
  font-family: Cinzel Decorative;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}

.sloganText span{
  color: #68C9FF;
}